# Build
bin/
obj/
out/

# User files
*.user
*.suo

# Rider
.idea/

# VSCode
.vscode/

# Secrets/configs
**/appsettings.json
appsettings.Local.json
appsettings.Development.json
appsettings.Test.json
appsettings.Production.json

# Logs
*.log

# Others
.env
